{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.id %}
        Editar Producto
    {% else %}
        Nuevo Producto
    {% endif %}
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <div>
            <h1>Nuevo Producto</h1>
        </div>
        <form method="post" enctype="multipart/form-data" class="formulario_signup">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Guardar</button>
        </form>
        {% if form.instance.id %}
        {% else %}
        <div class="contenedor_cargar">
            <a href="{% url 'stock:marca_create' %}" class="cargar">Cargar Marca</a>
            <a href="{% url 'stock:categoria_create' %}" class="cargar">Cargar Categoría</a>
            <a href="{% url 'stock:talle_create' %}" class="cargar">Cargar Talle</a>
        </div>
        {% endif %}
        {% if form.instance.id %}
        <div class="contenedor_volver">
            <a href="{% url 'stock:producto_list' %}" class="volver">Volver</a>
        </div>
        {% else %}
        <div class="contenedor_volver">
            <a href="{% url 'stock:index' %}" class="volver">Volver</a>
        </div>
        {% endif %}
    </main>
{% endblock content %}