{% extends 'core/base.html' %}

{% block title %}
    detalle del productos
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <div>
            <h1>{{ object.nombre }} {{ object.marca }}</h1>
        </div>
        <div class="contenedor_informacion">
            <ul>
                <li>Precio: ${{ object.precio }}</li>
                <li>Talle: {{ object.talle }}</li>
                <li>Color: {{ object.color }}</li>
                <li>Categoria: {{ object.categoria }}</li>
                <li>Stock: {{ object.stock }}</li>
                <li>Última actualización: {{ object.actualizacion }}</li>
            </ul>
            {% if object.foto %}
                <img src="{{ object.foto.url }}" alt="Foto de {{ object.nombre }}" width="550px" height="">
            {% else %}
                <div class="imagen_falsa_detalle">
                    <h3>Imagen no disponible</h3>
                </div>
            {% endif %}
        </div>
        <div class="contenedor_volver">
            <a href="{% url 'stock:producto_list' %}" class="volver">Volver</a>
        </div>
    </main>
{% endblock content %}