{% extends 'core/base.html' %}

{% block title %}
    Signup
{% endblock title %}

{% block content %}
    <main class="contenedor_principal">
        <div>
            <h1>Crear Usuario</h1>
        </div>
        <form method="post" class="formulario_signup">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Crear</button>
        </form>
        <div class="contenedor_volver">
            <a href="{% url 'core:index' %}" class="volver">Volver</a>
        </div>
    </main>
{% endblock content %}